.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: -20px;
  text-align: center;
  list-style: none;
  margin-top: 10px;
}

.item {
  width: calc((100% - 7 * 20px) / 7);
  margin-left: 20px;
  margin-bottom: 20px;
}
