.item {
  width: 200px;
  margin: 15px;
}

.name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #ff6b08;
}

.image {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 5px;
}

.character {
  margin: 0;
  font-size: 15px;
  color: black;
}
