.item {
  display: table-cell;
  vertical-align: middle;
  width: 140px;
  height: 270px;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px 2px #ff6b08;
}

.name {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1px;
}

.image {
  width: 140px;
  height: auto;
}
