.nav {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0 40px;
  box-shadow: 0px 0px 5px 3px #ff6b08;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: black;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #ff6b08;
}
