.card {
  display: flex;
  width: 810px;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.image_card {
  padding-left: 10px;
  padding-bottom: 10px;
}

.wrapper {
  padding: 10px;
  margin-left: 30px;
}

.name {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ff6b08;
}

.table_style {
  margin-bottom: 10px;
  border-spacing: 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.item_text {
  width: 110px;
}

.title {
  text-transform: uppercase;
}

.item_about {
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #ff6b08;
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1px;
}

.poster {
  max-width: 420px;
  height: 600px;
}

.youtube {
  position: absolute;
  z-index: 1;

  width: 395px;
  height: 40px;
  margin-left: 5px;
  background-repeat: no-repeat;
  cursor: pointer;

  border: 0;
  outline: none;
  background-image: url('icon/icons8-play-button-2.svg');
  background-color: transparent;
}

.btnText {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ff6b08;
  cursor: pointer;
  margin: 0;
  z-index: 5;
}

.image_card .overlayText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25px;
  width: 360px;

  pointer-events: none;
  font-family: 'Roboto', sans-serif;

  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 5px;
  top: 3px;
  left: 258px;
  z-index: 2;
  opacity: 0;
  transform: translateX(-63%);
  transition: all 400ms ease-in;
}

.image_card:hover .overlayText {
  display: flex;
  opacity: 1;
  box-shadow: 0px 0px 20px 3px #ff6b08;
  transform: translateX(-63%);
}
