.btn {
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #ff6b08;
  color: white;
  border: solid 1px transparent;
  cursor: pointer;
}
